.main-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.papertrail-logo { 
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
}

::ng-deep .mat-mdc-tab-header {
    width: 500px !important;
    display: flex;
    justify-content: center; 
    margin: 0 auto; 
}

::ng-deep .mat-mdc-tab-body {
    width: 100vw; 
    box-sizing: border-box; 
}

::ng-deep .mat-mdc-tab-body-content {
    width: 100%;
    box-sizing: border-box; 
}

  
// .box {
//   position: absolute;
//   width: 300px;
//   text-align: center;
//   transition: all 0.5s ease-in-out;
// }

// .top-box {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 100%;
//   transform: translate(-50%, -50%); /* Center the box */
// }
  

  