/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #4b4453; }

button {
    padding: 3px 10px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #673ab7;
}